libs/*
*/*.env
easy-rsa
certs/keys/*
*.pyc
*~
*__pycache__
*/.~lock*
django-saml2-idp/django_saml2_idp/saml2
django-saml2-idp/django_saml2_idp/djangosaml2idp
*sqlite3.db
djangosaml2_sp/saml2_sp/saml2_config/*.xml
