libs/*
*/*.env
easy-rsa
certs/keys/*
*.pyc
*~
*__pycache__
*/.~lock*
*sqlite3.db
djangosaml2_sp/saml2_sp/saml2_config/*.xml
djangosaml2_sp/djangosaml2_sp/*local.py
djangosaml2_sp/djangosaml2_sp/sp_pysaml2_satosa.py
