<!-- Extends default Bootstrap Italia template -->
{% extends 'main_page.html' %}
{% load i18n %}
{% load static %}

{% block page_title %}
    {% trans "Error" %}
{% endblock page_title %}

{% block centered_container %}
    <h4>{% trans "Error during SAML2 authentication" %}</h4>
    {% if exception_type %}
        <p><strong>{{exception_type}}</strong><br>
        {% if exception_msg %}
            {{exception_msg}}</p>
        {% endif %}
    {% endif %}
    {% if extra_message %}
        <p>{{extra_message}}</p>
    {% endif %}

</html>
{% endblock centered_container %}
